p {
    color:coral
    
}
body {
    background-color:dimgray
}
h1{
    color: rgb(43, 189, 226);
    font-size: large;
    
}

background{
    color: darkgray;
}
p{
    font-size: larger;
}

div>h2 {
    color: gold;
}

footer li{
    color: aliceblue;
}
#different+p{
    color: hotpink;

}
a:link{
    color: greenyellow;
}
a:visited{
    color: deepskyblue;
}
#different:hover{
    font-size: xx-large;
}

#bad:active{
    font-style: italic;
}
