@keyframes crazy {
    0% {
        font: 100px;
        background-color: blueviolet;
        }
    50% {
        font-size: 200px;
        background-color: green;
        }
    100% {
        font-size: 100px;
        background-color: blue;
}
}

@keyframes mute {
    0% {
        
        color: blueviolet;
        }
    25% {
        
        color: rgb(98, 0, 128);
        }
    50% {
       
        color: rgb(76, 0, 255);
}
75%{
    color: rgb(0, 255, 128);
}
100%{
    color: aquamarine;
}
}
@keyframes loop {
    0% {
        font: 50px;
        color: rgb(58, 226, 43);
        }
    50% {
        font-size: 60px;
        color: rgb(0, 128, 117);
        }
    100% {
        font-size: 50px;
        color: rgb(0, 251, 255);
}
}


p {
    color:coral
    
}
body {
    background-color:dimgray
}
h1{
    color: rgb(43, 189, 226);
    font-size: large;
    
}

background{
    color: darkgray;
}
p{
    font-size: larger;
}

div>h2 {
    color: gold;
}

footer li{
    color: aliceblue;
}
#different+p{
    color: hotpink;

}
a:link{
    color: greenyellow;
}
a:visited{
    color: deepskyblue;
}
#different:hover{
    font-size: xx-large;
}

#bad:active{
    font-style: italic;
}
#papa{ height: 80px;}


#heh{

font-size: 100px;
animation-name: crazy;
animation-duration: 1.5s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
}
h1{
    animation-name: mute;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}
#oops{
    width: 100%;
    height: 50px;
    animation-name: loop;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}