p {
    color:coral
    
}
body {
    background-color:dimgray
}
h1{
    color:rgb(1, 2, 2)
    
}
background{
    color: darkgray;
}
p{
    font-size: larger;
}

h1,h2,h3{
    display: inline-block;
    color: aqua;
}